/* @media (max-width: 430px) {
    section {
        padding: 15px;
    }

    h2 {
        font-size: 1.2em;
    }

    .content {
        padding: 15px;
    }

    p {
        font-size: 1em;
    }
} */