#sec1 {
    background-color: mediumseagreen;
    display: flex;
    flex-direction: column;
    border-radius: 5%;
}

#sec2 {
    background-color: skyblue;
    display: flex;
    flex-direction: column;
    border-radius: 5%;
}

#sec3 {
    background-color: lightcoral;
    display: flex;
    flex-direction: column;
    border-radius: 5%;
}